
<section class="vh-100 gradient-custom">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col-12 col-lg-9 col-xl-7">
        <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
            <form #registerForm="ngForm" (ngSubmit)="registerUser()">
              
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="text" name="fullName" [(ngModel)]="userInfo.fullName"
                      class="form-control form-control-lg" placeholder="Full Name" required />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div class="form-outline">
                    <input type="tel" name="phone" class="form-control form-control-lg"
                      placeholder="Phone #" [(ngModel)]="userInfo.phone" required />
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 d-flex align-items-center">
                  <div class="form-outline datepicker w-100">
                    <input type="date" class="form-control form-control-lg" name="birthDate"
                      placeholder="Birthdate" [(ngModel)]="userInfo.birthDate" required />
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <h5 class="mb-2 pb-1">Gender: </h5>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gender" value="Female" id="femaleGender"
                      [(ngModel)]="userInfo.gender" required />
                    <label class="form-check-label" for="femaleGender">Female</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input id="maleGender" class="form-check-input" type="radio" name="gender" value="Male"
                      [(ngModel)]="userInfo.gender" required />
                    <label class="form-check-label" for="maleGender">Male</label>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="email" name="email" class="form-control form-control-lg"
                      placeholder="Email" [(ngModel)]="userInfo.email" required />
                  </div>
                </div>
                <div class="col-md-6 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="password" name="password" class="form-control form-control-lg"
                      placeholder="Password" [(ngModel)]="userInfo.password" required />
                  </div>
                </div>
              </div>
<!-- 
              <div class="row">
                <div class="col-md-12 mb-4 pb-2">
                  <div class="form-outline">
                    <input type="text" name="profileImage" class="form-control form-control-lg"
                      placeholder="Profile Image URL" [(ngModel)]="userInfo.profileImage" />
                  </div>
                </div>
              </div> -->

              <div class="mt-4 pt-2">
                <input class="btn btn-primary btn-lg" type="submit" value="Register" [disabled]="!registerForm.valid" />
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
